In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"data\land_price.csv")

In [3]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
databackup=data.copy()

In [5]:
data=databackup.copy()

In [6]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [7]:
data.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [8]:
data.shape

(1460, 81)

In [9]:
#checking for missing value

data.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [10]:
#showing columns with only missing values
data.isna().sum()[data.isna().sum()>0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [11]:
#Checking for missing value
#percentage of misisng
data.isna().sum()[data.isna().sum()!=0]*100/data.shape[0]

LotFrontage     17.739726
Alley           93.767123
MasVnrType       0.547945
MasVnrArea       0.547945
BsmtQual         2.534247
BsmtCond         2.534247
BsmtExposure     2.602740
BsmtFinType1     2.534247
BsmtFinType2     2.602740
Electrical       0.068493
FireplaceQu     47.260274
GarageType       5.547945
GarageYrBlt      5.547945
GarageFinish     5.547945
GarageQual       5.547945
GarageCond       5.547945
PoolQC          99.520548
Fence           80.753425
MiscFeature     96.301370
dtype: float64

In [12]:
#missing value count
data.isna().sum()[data.isna().sum()!=0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [13]:
data.shape

(1460, 81)

In [14]:
#columns with more than 80% missing
missing80cols=data.isna().sum()[data.isna().sum()*100/data.shape[0]>80].index
data=data.drop(missing80cols,axis=1)
data.shape

(1460, 77)

In [15]:
#missing object cols
missingobj=data[data.dtypes[data.dtypes==object].index].isna().sum()[(data.isna().sum()!=0)].index

In [16]:
#missing float cols
missingfloat=data[data.dtypes[data.dtypes=='float64'].index].isna().sum()[(data.isna().sum()!=0)].index
missingfloat

Index(['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], dtype='object')

In [17]:
#filling missing value of object cols

#iterating over object columns and missing value is replaced with mode of the column
for x in missingobj:
    data[x][data[x].isna()] = data[x].mode()[0]

C:\Users\chris\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [18]:
#filling missing value of float64 cols

#iterating over object columns and missing value is replaced with mean of the column
for x in missingfloat:
    data[x][data[x].isna()] = data[x].mean()

C:\Users\chris\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [19]:
#missing value count
data.isna().sum()[data.isna().sum()!=0]
#there is no more missing value

Series([], dtype: int64)

In [20]:
data.shape

(1460, 77)

In [21]:
data=pd.get_dummies(data)

In [22]:
data.shape

(1460, 277)

In [23]:
y=data['SalePrice']
X=data.drop('SalePrice',axis=1)

In [24]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42) #0.67 data will be for training.

In [26]:
X_train.shape

(978, 276)

In [27]:
X_test.shape

(482, 276)

In [28]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression() #creating object of LinearRegression
reg.fit(X_train,y_train) #training and fitting LR object using training data

#fit command is used for training a model using train data.

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
ypred=reg.predict(X_test)  #predicting the saleprice for testing data


#in this context actual value will be y_test and predicted value wll ypred..
#error is calculated in such a way that vraiation of ypred from y_test

In [30]:
from sklearn.metrics import mean_squared_error #calculating MSE
mean_squared_error(ypred,y_test)

869215061.9438591

In [31]:
sum((y_test-ypred)**2)/len(ypred) #this is how we can calculate MSE.

869215061.943859

In [32]:
from sklearn.metrics import r2_score
r2_score(y_test,ypred)

0.8816007730347073

In [33]:
reg.coef_ #value for m1,m2,....mn

array([ 9.13144508e-02,  1.59430042e+02, -2.14335442e+00,  7.98150432e-01,
        7.10885148e+03,  4.50380734e+03,  2.63468481e+02,  1.55275418e+02,
        2.33778405e+01,  1.33915961e+01,  5.28246967e+00, -1.89744139e+00,
        1.67766203e+01,  1.26683612e+01,  2.58516932e+01, -1.31418646e+01,
        2.53781822e+01,  2.63809882e+03, -1.15754851e+03,  4.40025809e+03,
        2.00714053e+03, -2.66420486e+03, -1.58163890e+04,  2.10662660e+03,
        2.20363743e+03, -1.70468768e+01,  5.93604406e+02,  3.11652816e+01,
        1.56530107e+01,  1.73710950e+00,  9.91604136e+00,  4.83786537e+01,
        4.65918944e+01,  9.32643783e+00, -9.14059313e-01, -4.23678431e+02,
        4.59845956e+01, -1.85085637e+04,  1.43552463e+04, -1.17514003e+03,
        2.46126148e+03,  2.86719590e+03, -3.08366706e+04,  3.08366706e+04,
       -3.23781057e+03,  2.66419174e+02,  4.00648323e+03, -1.03509183e+03,
       -4.61865118e+03,  1.42203727e+04, -1.30040526e+04,  3.40233100e+03,
        1.52552658e+04, -1.52552658e+04,  4.14530504e+03,  1.28027939e+04,
       -4.65482638e+03, -1.60038742e+04,  3.71060156e+03,  1.39570936e+04,
        1.85817769e+04, -3.25388705e+04,  8.44101686e+03, -9.42550506e+02,
        3.35001060e+03, -3.73368582e+03, -6.79353330e+03, -4.68080482e+03,
        1.09324429e+04, -1.80226530e+04, -6.04220650e+03, -1.65073459e+04,
       -7.32410858e+03, -1.61021378e+04, -1.54187195e+04,  2.15734781e+04,
       -1.38884278e+04,  2.65685423e+04,  2.39211681e+04, -1.52636900e+04,
       -2.51771568e+03, -6.06178251e+03, -4.48511573e+03, -1.19216260e+03,
        4.39747108e+04, -4.80017208e+03,  5.01544247e+03, -7.14869132e+03,
        1.40411939e+03,  7.36991356e+03, -9.10429887e+03,  1.18545489e+04,
       -1.95672497e+04,  8.43017812e+02,  7.94904586e+03,  6.39959433e+03,
        6.05149543e+04,  5.77852172e+04,  5.00974494e+04, -1.74622983e-10,
       -1.74114306e+05, -4.34790729e+04,  4.91957583e+04, -6.54836185e-11,
        2.75448779e+04,  3.23847314e+02,  5.63317426e+03, -1.76063802e+04,
       -1.58955192e+04,  4.40953300e+03,  1.77775862e+04,  1.36158554e+04,
       -1.33732722e+04, -2.51340789e+03, -5.54742502e+03, -8.32457667e+03,
       -6.04429291e+03, -1.35126603e+04, -1.93842663e+04, -1.53564435e+04,
       -1.91376739e+04,  1.33916966e+04,  5.39993475e+04, -5.10875845e+05,
        7.35229591e+04,  1.16415322e-10,  1.21122023e+05,  7.50410414e+04,
        7.67744735e+04,  7.20730782e+04,  9.23422691e+04,  1.29953787e+04,
       -1.25929327e+04,  4.56291389e+04,  1.81346702e+04, -1.25891315e+04,
       -1.21477148e+04, -1.90844677e+03,  9.45874490e-11, -1.67390224e+03,
        1.43504568e+03,  2.88529128e+03, -9.46251054e+03, -9.10844436e+03,
       -1.24765873e+04, -9.11985456e+03, -7.08334237e+03,  2.36191212e+04,
       -1.35247657e+04,  2.79467066e+03, -1.25891315e+04,  1.54331396e+04,
       -2.48384962e+03,  9.45408794e+02,  1.01086589e+03, -2.65480007e+04,
       -7.71352589e+03, -7.51600682e+03,  1.63911069e+04,  4.50380291e+03,
        1.10249813e+04,  1.73552521e+03, -7.66120958e+03, -1.84558293e+02,
        3.14232819e+03,  4.70343968e+03,  1.10485935e+04,  1.21638523e+04,
       -1.14732242e+04, -1.17392216e+04,  4.80659358e+03, -3.55882896e+03,
       -4.69186143e+03,  5.81913568e+03, -2.37503887e+03, -9.30599504e+02,
        5.30897087e+03,  7.34082424e+03,  2.55873209e+03,  9.12785680e+03,
       -2.34057845e+04,  1.50316951e+04, -9.65955774e+02, -7.22737423e+03,
       -6.83836511e+03, -1.61730814e+04, -1.44146396e+04,  3.84977152e+04,
       -7.90999415e+03, -1.99166472e+03,  1.51497392e+04, -6.25349097e+03,
       -6.90458352e+03, -9.51349053e+02, -1.17677380e+03,  3.40704960e+03,
       -2.43709422e+03,  1.05618889e+03,  1.01978591e+02,  7.62106730e+03,
       -8.46479339e+03,  5.37305308e+03, -3.87698845e+03,  6.52040287e+02,
       -1.30437883e+03,  1.54217982e+04,  2.69477479e+03, -1.04784243e+04,
       -8.95020418e+03, -1.70104948e+04,  1.83225502e+04,  2.86426919e+02,
       -3.29375355e+02, -4.26269624e+03,  7.45854608e+03, -3.15290141e+03,
        2.22547729e+02, -2.22547729e+02,  3.98489424e+03, -2.39938767e+03,
       -4.09746726e+03,  3.63797881e-12,  2.51196069e+03,  1.22745738e+04,
        1.40966934e+03, -6.51664113e+03, -7.16760198e+03,  9.48092437e+03,
       -4.08951667e+03,  5.23109520e+03,  1.43907595e+04,  1.08394048e+04,
       -5.59519756e+04,  2.00993084e+04, -3.26212842e+03, -3.41112907e+03,
       -1.85202477e+02,  3.82293508e+03,  3.03552489e+03, -1.24033355e+04,
       -4.90873665e+02,  3.30554801e+03, -9.26528447e+02,  9.79397964e+03,
        7.21209941e+02, -1.65539725e+02, -1.67276195e+03,  1.83830167e+03,
        1.24556733e+05, -2.51943737e+04, -1.79306086e+04, -6.08335746e+04,
       -2.05981760e+04, -1.17120388e+05,  2.06830608e+04,  2.71006947e+04,
        4.29091090e+04,  2.64275238e+04,  2.50771989e+03, -3.12847886e+03,
        6.20758973e+02, -8.59914129e+03,  8.97637420e+03,  3.04519420e+04,
        4.70575828e+03, -1.94357523e+04,  3.31471444e+03, -7.52737379e+03,
       -8.42346629e+02, -1.10441749e+04, -1.27192895e+04,  8.27105922e+03,
        2.24394642e+04, -1.37279826e+04, -7.11466230e+03,  2.85141103e+03])

In [34]:
reg.intercept_ #value for c

-1075110.5453713746

In [35]:
reg.predict(X_test.head()) #sample prediction with top 5 rows

array([156615.88255282, 346455.30881466,  93773.88219261, 176923.72655973,
       326999.85870496])

In [36]:
y_test.head() #corresponding actual value

892     154500
1105    325000
413     115000
522     159000
1036    315500
Name: SalePrice, dtype: int64

In [37]:
reg.predict(X_test.loc[[892,413]])  #sample prediction with 2 rows chosen

array([156615.88255282,  93773.88219261])

In [38]:
y_test.loc[[892,413]] #corresponding actual value

892    154500
413    115000
Name: SalePrice, dtype: int64